<div class="container">
    <h1 class="mt-4">Avaliação de Angular - JPs</h1>
    <p>
        O objetivo deste teste é desenvolver uma aplicação web utilizando o framework Angular. Criando a aplicação que permite listar, cadastrar, editar e excluir pessoas.
    </p>
    <h2 class="mt-4">Tecnologias Utilizadas</h2>
    <table class="table table-bordered mt-3">
        <tbody>
            <tr>
                <td>Angular</td>
                <td>16.2.14</td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td>5.3.2</td>
            </tr>
            <tr>
                <td>@PopperJS</td>
                <td>2.11.8</td>
            </tr>
            <tr>
                <td>Sweetalert</td>
                <td>11.12.2</td>
            </tr>
            <tr>
                <td>IDE</td>
                <td>StackBlitz</td>
            </tr>
        </tbody>
    </table>
    <p>
        Agradeço ao Rafael Ferreira pelos ensinamentos durante o treinamento.
    </p>
</div>
